{% extends "layout.html" %}
{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                {% include 'navbar.html' %}
                <div id="container" style="min-width:400px;height:400px"></div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='highcharts/exporting.js') }}"></script>
    <script src="{{ url_for('static', filename='highcharts/highcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='highcharts/highcharts-zh_CN.js') }}"></script>
    <script src="{{ url_for('static', filename='highcharts/themes/dark-unica.js') }}"></script>

    <script>
        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '词频数量分布图'
                },
                subtitle: {
                    text: '数据来源: wangyupeng.name'
                },
                xAxis: {
                    categories: {{ categories | safe }},
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '包含单词数量'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                    name: '词频分布',
                    data: {{ count | safe }}
                }]
            });
        });

    </script>
{% endblock %}
